.form-container {
  input, select, textarea {
    width: 100%;
    line-height: 26px;
    min-height: 26px;
    border: 1px solid #cfcfcf;
    border-radius: 5px;

    &[type="submit"]{
      min-width: 20%;
      max-width: 30%;
    }
  }

  .col-xs-12 {
    margin-bottom: 10px;
  }
}
