<div class="col-xs-12 col-lg-8">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h2 class="panel-title">Reserve a room in one of our beautifull hotels</h2>
        </div>
        <div class="panel-body">
            <form>
                <div class="col-xs-12 col-md-3">
                    <label>City</label>
                </div>

                <div class="col-xs-12 col-md-3">
                    <select>
                        <option>New York</option>
                        <option>Los Angeles</option>
                        <option>Tokyo</option>
                        <option>London</option>
                        <option>Belgrade</option>
                        <option>Istanbul</option>
                    </select>
                </div>

                <div class="col-xs-12 col-md-3">
                    <label>Check in date</label>
                </div>

                <div class="col-xs-12 col-md-3">
                    <input type="date" />
                </div>

                <div class="col-xs-12 col-md-3">
                    <label>Check out date</label>
                </div>

                <div class="col-xs-12 col-md-3">
                    <input type="date" />
                </div>

                <div class="col-xs-12 col-md-3">
                    <label>Room</label>
                </div>

                <div class="col-xs-12 col-md-3">
                    <select>
                        <option>1 room, 1 bed</option>
                        <option>1 room, 2 beds</option>
                        <option>1 room, 3 beds</option>
                        <option>2 rooms, 3 beds</option>
                        <option>2 room, 4 beds</option>
                        <option>Other</option>
                    </select>
                </div>

                <div class="col-xs-12 col-md-3">
                    <label>Email</label>
                </div>

                <div class="col-xs-12 col-md-3">
                    <input type="email"/>
                </div>

                <div class="col-xs-12 col-md-6">
                    <label>If you selected other, please specify</label>
                </div>

                <div class="col-xs-12 col-md-6">
                    <textarea></textarea>
                </div>

                <div class="col-xs-12 right-align">
                    <input type="submit" class="btn btn-primary" value="Submit your reservation"/>
                </div>

                <div class="col-xs-12 right-align">
                    <p>We will contact you with our offer as soon as posible</p>
                </div>
            </form>
        </div>
    </div>
</div>