@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css);
.col-md-8 .hotel-details,
.col-md-4 .hotel-details {
  background-position: center;
  background-size: cover;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
  background-color: #fff; }
  .col-md-8 .hotel-details:hover .hotel-info,
  .col-md-4 .hotel-details:hover .hotel-info {
    max-height: 100%;
    height: 100%; }
    .col-md-8 .hotel-details:hover .hotel-info p,
    .col-md-4 .hotel-details:hover .hotel-info p {
      opacity: 1; }
  .col-md-8 .hotel-details:hover .hotel-stars,
  .col-md-4 .hotel-details:hover .hotel-stars {
    opacity: 1; }

.col-md-8 .hotel-details {
  height: 420px; }
  .col-md-8 .hotel-details .hotel-info {
    max-height: 15%; }

.col-md-4 .hotel-details {
  height: 200px; }
  .col-md-4 .hotel-details .hotel-info p {
    max-height: 7em;
    overflow: hidden; }

.hotel-info {
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  color: #fff;
  padding: 10px;
  max-height: 30%;
  top: auto;
  transition: all, 0.25s; }
  .hotel-info h3,
  .hotel-info h5 {
    margin: 0; }
  .hotel-info p {
    opacity: 0;
    margin-top: 20px; }

.hotel-stars {
  color: #ffff1e;
  text-decoration: none;
  padding: 5px;
  text-align: right;
  position: absolute;
  z-index: 1000;
  width: 100%;
  opacity: 0.5;
  transition: all 0.25s; }

@media only screen and (max-width: 990px) {
  .col-xs-12 .hotel-details {
    height: 300px; }
    .col-xs-12 .hotel-details .hotel-info {
      max-height: 20%; } }

@media only screen and (max-width: 460px) {
  .col-xs-12 .hotel-details {
    height: 200px; }
    .col-xs-12 .hotel-details .hotel-info {
      max-height: 30%; } }

.special-offer:hover {
  text-decoration: none; }
  .special-offer:hover .offer-image {
    background-size: 120% auto; }

.special-offer p {
  max-height: 10em;
  overflow: hidden; }

.special-offer .offer-image {
  height: 160px;
  width: 100%;
  background-position: center;
  background-size: 100% auto;
  transition: all 0.3s; }

.form-container input, .form-container select, .form-container textarea {
  width: 100%;
  line-height: 26px;
  min-height: 26px;
  border: 1px solid #cfcfcf;
  border-radius: 5px; }
  .form-container input[type="submit"], .form-container select[type="submit"], .form-container textarea[type="submit"] {
    min-width: 20%;
    max-width: 30%; }

.form-container .col-xs-12 {
  margin-bottom: 10px; }

/* General .....................*/
body {
  background-color: #e8e8ef !important; }

img {
  max-width: 100%; }

main {
  padding-top: 100px; }

.right-align {
  text-align: right; }
